<p-toast></p-toast>
<p-confirmDialog [baseZIndex]="3" styleClass="md:max-w-[30vw]"></p-confirmDialog>

<div class="container p-5">
  <div class="flex mb-5">
    <div class="mr-4">
      <button
        pButton
        label="New Transaction"
        icon="pi pi-plus"
        class="p-button-success p-button-sm"
        (click)="onAddPreview()"></button>
    </div>
    <div *ngIf="false" class="mr-auto">
      <button pButton label="Bulk Delete" icon="pi pi-trash" class="p-button-danger p-button-sm"></button>
    </div>
    <button pButton label="Export" icon="pi pi-upload" class="p-button-help p-button-sm" (click)="onExport()"></button>
  </div>

  <p-table
    #dt
    dataKey="id"
    responsiveLayout="scroll"
    [value]="transactions"
    [(selection)]="selectedTransactions"
    [rows]="perPage"
    [rowHover]="!isTransactionLoading"
    [rowsPerPageOptions]="[5, 10, 25, 50, 100]">
    <ng-template pTemplate="header">
      <tr>
        <!-- <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th> -->
        <th class="text-sm">ID</th>
        <th class="text-sm">Admin ID</th>
        <th class="text-sm">Date</th>
        <th class="text-sm">Weight (kg)</th>
        <th class="text-sm">Total Price</th>
        <th class="text-sm">Notes</th>
        <th class="text-sm">Status</th>
        <th class="text-sm">Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-transaction>
      <tr *ngIf="isTransactionLoading">
        <!-- <td><p-skeleton></p-skeleton></td> -->
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
      </tr>

      <tr *ngIf="!isTransactionLoading">
        <!-- <td>
          <p-tableCheckbox [value]="transaction"></p-tableCheckbox>
        </td> -->
        <td class="text-sm">
          {{ transaction.id }}
        </td>
        <td class="text-sm">
          {{ transaction.admin_id }}
        </td>
        <td class="text-sm">
          {{ transaction.created_at | date: 'EEEE, dd LLLL yyyy' }}
        </td>
        <td class="text-sm">
          {{ transaction.weight }}
        </td>
        <td class="text-sm">
          {{ transaction.total_price | currency: 'IDR' }}
        </td>
        <td class="text-sm">
          {{ transaction.notes }}
        </td>
        <td class="text-sm">
          <span *ngIf="transaction.status === 'NEW'" class="rounded-lg drop-shadow-md bg-blue-600 text-white py-2 px-4">
            {{ transaction.status }}
          </span>
          <span
            *ngIf="transaction.status === 'ONPROCESS'"
            class="rounded-lg drop-shadow-md bg-yellow-500 text-white py-2 px-4">
            {{ transaction.status }}
          </span>
          <span
            *ngIf="transaction.status === 'DONE'"
            class="rounded-lg drop-shadow-md bg-green-600 text-white py-2 px-4">
            {{ transaction.status }}
          </span>
          <span
            *ngIf="transaction.status === 'INVALID'"
            class="rounded-lg drop-shadow-md bg-red-500 text-white py-2 px-4">
            {{ transaction.status }}
          </span>
        </td>
        <td>
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-warning p-button-sm mr-2"
            [loading]="transaction.id === selectedTransactionId && isAdminLoading"
            (click)="onEditPreview(transaction)"></button>
          <button
            pButton
            icon="pi pi-trash"
            class="p-button-danger p-button-sm"
            [disabled]="isDeleteLoading"
            [loading]="transaction.id === selectedTransactionId && isDeleteLoading"
            (click)="onDeletePreview(transaction.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator
    #paginator
    class="custom-pagination"
    styleClass="mt-4"
    [first]="firstPaginator"
    [rows]="perPage"
    [totalRecords]="totalData"
    [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
    (onPageChange)="onChangePage($event)"></p-paginator>

  <p-dialog
    [header]="selectedTransaction ? 'Edit Transaction' : 'New Transaction'"
    position="top"
    [(visible)]="isTransactionVisible"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [closable]="!isSubmitLoading"
    [style]="{ width: '35vw' }"
    (onHide)="onHideTransactionModal()">
    <form [formGroup]="transactionForm" style="padding-top: 1px" (ngSubmit)="onSubmit()">
      <div class="field">
        <p class="text-sm mb-2">Admin</p>
        <p-dropdown
          formControlName="admin"
          id="admin"
          optionLabel="name"
          filterBy="name"
          placeholder="Select Admin"
          styleClass="p-dropdown-sm w-full"
          [filter]="true"
          [options]="admins"
          [showClear]="true"
          [ngClass]="{
            'ng-invalid ng-dirty': isSubmitted && transactionForm.controls['admin'].errors
          }">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="transactionForm.value.admin">
              {{ transactionForm.value.admin.name }}
            </div>
          </ng-template>
          <ng-template let-admin pTemplate="item">
            <div>{{ admin.name }}</div>
          </ng-template>
        </p-dropdown>
        <small *ngIf="isSubmitted && transactionForm.controls['admin'].errors" id="admin" class="p-error block mt-2">
          Admin is required!
        </small>
      </div>

      <div class="field mt-5">
        <p class="text-sm mb-2">Weight (kg)</p>
        <input
          formControlName="weight"
          id="weight"
          type="text"
          pInputText
          placeholder="Weight (kg)"
          [ngClass]="{
            'ng-invalid ng-dirty': isSubmitted && transactionForm.controls['weight'].errors
          }"
          class="p-inputtext-sm w-full"
          aria-label="weight" />
        <small *ngIf="isSubmitted && transactionForm.controls['weight'].errors" id="weight" class="p-error block mt-2">
          Weight is required!
        </small>
      </div>

      <div class="field mt-5">
        <p class="text-sm mb-2">Total Price</p>
        <p-inputNumber
          formControlName="totalPrice"
          inputId="totalPrice"
          mode="currency"
          currency="IDR"
          locale="id-ID"
          placeholder="Total Price"
          inputStyleClass="p-inputtext-sm"
          styleClass="w-full"
          class="w-full"
          [ngClass]="{
            'ng-invalid ng-dirty': isSubmitted && transactionForm.controls['totalPrice'].errors
          }"></p-inputNumber>
        <small
          *ngIf="isSubmitted && transactionForm.controls['totalPrice'].errors"
          id="totalPrice"
          class="p-error block mt-2">
          Total Price is required!
        </small>
      </div>

      <div *ngIf="selectedTransaction" class="field mt-5">
        <p class="text-sm mb-2">Status</p>
        <div class="formgrid grid grid-cols-3 gap-x-2">
          <div class="flex items-center">
            <p-radioButton formControlName="status" id="status1" name="status" value="NEW" class="mr-2"></p-radioButton>
            <label for="status1" class="rounded-lg drop-shadow-md bg-blue-600 text-white text-xs py-1 px-2">
              NEW
            </label>
          </div>
          <div class="flex items-center">
            <p-radioButton
              formControlName="status"
              id="status2"
              name="status"
              value="DONE"
              class="mr-2"></p-radioButton>
            <label for="status2" class="rounded-lg drop-shadow-md bg-green-600 text-white text-xs py-1 px-2">
              DONE
            </label>
          </div>
          <div class="flex items-center">
            <p-radioButton
              formControlName="status"
              id="status3"
              name="status"
              value="INVALID"
              class="mr-2"></p-radioButton>
            <label for="status3" class="rounded-lg drop-shadow-md bg-red-500 text-white text-xs py-1 px-2">
              INVALID
            </label>
          </div>
        </div>
      </div>

      <div class="field mt-5">
        <p class="text-sm mb-2">Notes</p>
        <textarea
          formControlName="notes"
          id="notes"
          [rows]="5"
          [cols]="30"
          pInputTextarea
          placeholder="Notes"
          class="p-inputtext-sm w-full"
          [ngClass]="{
            'ng-invalid ng-dirty': isSubmitted && transactionForm.controls['notes'].errors
          }"></textarea>
        <small *ngIf="isSubmitted && transactionForm.controls['notes'].errors" id="notes" class="p-error block mt-2">
          Notes is required!
        </small>
      </div>

      <div class="text-end mt-7">
        <button
          pButton
          label="Save"
          type="submit"
          class="p-button-primary p-button-sm py-2 px-10"
          [loading]="isSubmitLoading"></button>
      </div>
    </form>
  </p-dialog>
</div>
