@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/ExtraBold/Nunito-ExtraBold.woff2') format('woff2'),
      url('../../fonts/ExtraBold/Nunito-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/Black/Nunito-Black.woff2') format('woff2'),
      url('../../fonts/Black/Nunito-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/Bold/Nunito-Bold.woff2') format('woff2'),
      url('../../fonts/Bold/Nunito-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/ExtraLight/Nunito-ExtraLight.woff2') format('woff2'),
      url('../../fonts/ExtraLight/Nunito-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/Medium/Nunito-Medium.woff2') format('woff2'),
      url('../../fonts/Medium/Nunito-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/Light/Nunito-Light.woff2') format('woff2'),
      url('../../fonts/Light/Nunito-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/Regular/Nunito-Regular.woff2') format('woff2'),
      url('../../fonts/Regular/Nunito-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/SemiBold/Nunito-SemiBold.woff2') format('woff2'),
      url('../../fonts/SemiBold/Nunito-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: Nunito, Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
}

* {
  font-family: var(--font-family);
}